@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Lobster&family=Poppins:wght@300;400;500;600;700&family=Vesper+Libre&display=swap');


body {
    font-family: 'Vesper Libre', serif;
    font-size: 19px;
    margin: 0;
    padding: 0;
    background: linear-gradient(-45deg, #23d5ab, #23a6d5, #e73c7e, #ee7752);
    background-size: 400% 400%;
    animation: gradient 13s ease infinite;
    border-radius: 50px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.navbarColor {
    background-color: #1585ee;
    padding-top: 10px;
    padding-bottom: 10px;
}

.avatar {
    width: 6%;
    filter: hue-rotate(220deg) drop-shadow(2px 4px 4px #0006);
    border-radius: 50%;
}

.liens {
    color: white !important;
    text-align: end;
}

nav ul li:hover{
    text-decoration: underline;
}

.home_container {
    width: 93%;
    margin: 20px auto;
}

.contain_elements {
    display: flex;
    border: solid 5px cornsilk;
    border-radius: 50px;
    padding: 20px;
    text-align: center;
    filter: hue-rotate(220deg) drop-shadow(2px 4px 4px #0006);
}

.home_name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: white;
}

.home_img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_img > img{
    width: 100%;
}

.row {
    border: solid 5px cornsilk;
    border-radius: 50px;
   
}

.img-presentation {
    width: 70%;
}

section{
    color:white;
}

.qui {
    text-align: start;
    margin-top: 3%;
    margin-bottom: 4%;
    color: white;
    padding: 2%;
    background: linear-gradient(-45deg, #23d5ab, #23a6d5, #e73c7e, #ee7752);
    background-size: 400% 400%;
    animation: gradient 12s ease infinite;
    border-radius: 50px;
}

.flex {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    margin-bottom: 2%;
}

.date {
    width: 47%;
}

.alignement {
    display: inline-flex;
}

.exp {
    width: 70%;
}

